body {
        background: #f5f5f5;
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin: 0;
        font-family: Arial, sans-serif;
    }

    div{
        display: flex;
    }

    canvas {
        border: 2px solid #222;
        border-radius: 10px;
        box-shadow: 
            0 4px 10px rgba(0,0,0,0.2),
            0 0 10px gold;
        background: white;
        transition: 0.3s ease-in-out;
        width: 80%;
        height: 50%;
        max-width: 700px;
        max-height: 500px;
    }

    canvas:hover {
        transform: scale(1.03);
        box-shadow: 
            0 6px 16px rgba(0,0,0,0.25),
            0 0 14px gold;
    }

    @media (max-width: 600px) {
        canvas {
            width: 80% !important;
            height: auto !important;
        }
    }